<html>

<head>
    <title>Register User</title>
    <link rel="stylesheet" href="/css/register.css"></link>
        <link rel="stylesheet" href="/css/index.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
    {{!-- <script src="/frontend/public/js/register.js"></script> --}}
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet"> -->
</head>

<body>
    {{>header}}
    <form action='/register/data/recorded' method='POST' autocomplete="off">
    <div id="wrapper">
    <div id="register-div">
        <div id="register-head" class="register-head-class">Create Account</div>
        <div id="name-div" class="inner-div">
            <div id="name-title-id" class="title-class">Name</div>
            <input type="text" id="name-input-id" class="input-class" placeholder="First and last name" name="name"></input>
        </div>
        <div id="email-div" class="inner-div">
        <div id="email-title-id" class="title-class">Email</div>
        <input type="email" id="email-input-id" class="input-class" placeholder="Email" name="email"></input>
        </div>
        <div id="password-div" class="inner-div">
        <div id="password-title-id" class="title-class">Password</div>
        <input type="password" id="password-input-id" class="input-class" placeholder="Atleast 6 charachter" name="password"></input>
        </div>
        <div id="re-enter-password-div" class="inner-div">
            <div id="re-enter-password-title-id" class="title-class">Re-Enter Password</div>
            <input type="password" id="re-enter-password-input-id" class="input-class" placeholder="Re-enter password" name="confirmPassword"></input>
        </div>
        <div id="is-admin-checkbox-div" class="inner-div">
            <input type="checkbox" name="isAdmin" value="true" id="checkbox-id"><span id="is-admin-checkbox">Are you a seller ?</span></input>
        </div>
        <div id="register-btn-div" class="inner-div">
        <button type="submit" id="register-btn">Register</button>
        </div>
        <div id="already-user-div" class="inner-div">
            <p id="already-user-line">Already have an account?<a href="/login"> Sign In</a></p>
            </div>
    </div>

     </div>
     </div>
    </form>
    <script src="/js/register.js"></script>
    </body>

</html>